---
layout: default
title: Выпуски
---
<link rel="stylesheet" href="{{ '/assets/css/episodes.css' | relative_url }}">

<ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
</ul>


<h2>3. Сим-сим, откройся (17 апреля 2018) - <a href="/03-passwords">пароли</a></h2>
<p>На этой неделе я решил поговорить о паролях. Эта тема достаточно щекотливая. О паролях можно говорить долго, заходить с разных сторон - смотреть на них с точки зрения пользователей или разработчиков. Кто-то может посчитать озвученные сегодня доводы и предложения чересчур упрощенными и недостаточными или же наоборот, слишком сложными.
Несмотря на это, я решил, что уж лучше расскажу не все и с небольшими недостатками, чем вообще ничего не расскажу :)
<a href="/03-passwords" >подробнее...</a>
</p>
<hr>
{% include episode-media.html file="Безопасность для всех - 3 - 2018.04.17.mp3" %}


<h2>2. Как вы яхту назовете... (10 апреля 2018) - <a href="/02-DNS">DNS</a></h2>
<p>Новости об очередных утечках персональных данных, прошедшем в Mail.ru митапе по безопасности, опасной уязвимости в Windows и открытии нового DNS сервера компанией CloudFlare. Основной темой выпуска будет DNS и его расширения и предполагаемые заместители: DNSSEC, DNSCrypt, DNS over TLS, DNS over HTTPS.
<a href="/02-DNS">подробнее...</a>
</p>
<p><a href="/assets/audio/Безопасность для всех - 2 - 2018.04.10.mp3" download="Безопасность для всех - 2 - DNS - 2018.04.10.mp3">Скачать эпизод</a></p>
<p><audio controls><source src="/assets/audio/Безопасность для всех - 2 - 2018.04.10.mp3"></audio></p>


<h2>1. Если хочешь быть здоров, обновляйся. (3 апреля 2018) - <a href="/01-updates">обновления</a></h2>
<p>Анализ использования уязвимостей за 2017 от компании Recorded Future,
Microsoft исправила Meltdown, очередной баг Apple, связанный с паролями. В конце поговорим про обновления - стоит их ставить и как скоро.
<a href="/01-updates">подробнее...</a>
</p>
<p><a href="/assets/audio/Безопасность для всех - 1 - 2018.04.03.mp3" download="Безопасность для всех - 1 - обновления - 2018.04.03.mp3">Скачать эпизод</a></p>
<p><audio controls><source src="/assets/audio/Безопасность для всех - 1 - 2018.04.03.mp3"></audio></p>
