<p class="links">
	<!--<a target="_blank" href="https://www.youtube.com/watch?v=As8zwiHAfuc&list=PLXdVl8soTOPQUDTKr8MjkTUEAiCYtCZ0u"><i class="fab fa-youtube fa-2x"></i></a>-->

	<a target="_blank" href="https://t.me/Stuw_res"><i class="fab fa-telegram fa-2x"></i></a>
	<a target="_blank" href="https://twitter.com/andrey_danin"><i class="fab fa-twitter fa-2x"></i></a>
	<span>&nbsp;&nbsp;</span>
	<a target="_blank" href="https://itunes.apple.com/ru/podcast/%D0%B1%D0%B5%D0%B7%D0%BE%D0%BF%D0%B0%D1%81%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D0%B4%D0%BB%D1%8F-%D0%B2%D1%81%D0%B5%D1%85/id1404009975?l=ru"><i class="fab fa-itunes fa-2x"></i></a>
	<a target="_blank" href="https://www.youtube.com/channel/UCRj7iU95ch9DkEhIiHjoT5g"><i class="fab fa-youtube fa-2x"></i></a>
	<span>&nbsp;&nbsp;</span>
	<a target="_blank" href="/podcast.rss"><i class="fas fa-rss-square fa-2x"></i></a>
</p>

